.hidden {
  display: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

input {
  border: none;
  background-color: #f000;
  width: 500px;
  font-size: 40px;
  margin: 50px 0;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.675);
  text-align: center;
}

#login-btn {
  text-align: start;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  padding: 0px;
}

#login-btn:hover {
  color: #ffffff;
}

.todo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

ul {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
}

li {
  margin: 10px;
  list-style: none;
}

button {
  margin-left: 2em;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  object-fit: cover;
  /* opacity: 80%; */
}

#clock {
  text-align: center;
  margin: auto;
  font-family: 'Black Ops One', cursive;
  font-size: 100px;
}

#weather {
  text-align: end;
  font-family: 'Black Ops One', cursive;
}

#weather span:first-child {
  padding-right: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
